/* Site wide styles */

html {
  background-color: #996699; 
}

body {
  font-size: 80%;
  
  
} 

body, h1,h2,h3, h4, h5 {
  font-family:'Lucida Grande',Verdana,sans-serif; 
}

h1 { 
  font-size:200%;
} 
h2 { 
  font-size:140%; 
} 
h3 { 
  font-size:120%; 
} 

p {
  line-height:150%;
  margin-left: 5px;
} 

a:link, a:visited {
  text-decoration: underline;
  color: #333;
}
  
a:hover, a:active {
  text-decoration: none;
}

#test-menu a {
  color: #999;  
}

/* Layout stuff */

#test-menu {
  text-align: center;
  background-color: #000;
}

#test-menu>li {
  display: inline;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 70%; 
}

#footer-menu {
  text-align: center;
}

#footer-menu>li {
  display: inline;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

#header { 
  clear: right;
  background-color: #996699;
  padding: 10px 0px 10px 10px;
} 
 
#content { 
  float:right; 
  width:55%; 
  background-color: #996699;
} 

#sidebar { 
  float:left;
  width:45%; 
  background-color: #996699;
} 

#footer { 
  clear:both; 
  padding:10px;
  background-color: #996699;
}

form, #content-wrapper {
  padding: 10px;
  margin: 10px;
  background-color: #ccc;
}

#footer-menu {
  padding-bottom: 10px;
  border-bottom: 2px solid #784E77;
}

#footer-menu a {
  padding: 10px;
}

#footer-menu a.selected {
  background: #784E77;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.blur {
  color: #777;
}