/* Font import */

@font-face {
  font-family: "AeroviasBrasilNF";
  src: url("/assets/fonts/AeroviasBrasilNF.ttf") format("truetype");
}

h1 {
  font-family: AeroviasBrasilNF;
  text-shadow: 3px 3px 2px #333;
}

h2 {
  text-shadow: 3px 3px 3px #aaa;
}

#footer h2 {
  text-shadow: 1px 1px 1px #999;
}


fieldset {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

form, #results-wrapper {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: #333 8px 8px 8px;
  -moz-box-shadow: #333 8px 8px 8px;
}

form, #content-wrapper {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#footer-menu>li>a {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #069;
}

#footer-menu>li>a:focus, 
#footer-menu>li>a:hover, 
#footer-menu>li>a:active, 
#footer-menu>li>a.selected {
  -moz-border-radius-topright: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media all and (max-width: 900px) {

#wrapper {
    width: 100%;
  }

}

@media all and (max-device-width: 900px) {

#wrapper {
    width: 100%;
  }

}

@media all and (max-width: 725px) {
 
 #search-results { 
    float: none;
    width: 100%;
  } 

  #search-form-container { 
    float: none;
    width: 100%;
  }
  
  #content {
    width: 90%;
  }
  
  .footer-tab {
    padding: 10px;
  }
  
  #footer-menu>li>a {
    padding: 5px 5px 15px 5px;
  }

}

@media all and (max-device-width: 725px) {
 
 #search-results { 
    float: none;
    width: 100%;
  } 

  #search-form-container { 
    float: none;
    width: 100%;
  }
  
  #content {
    width: 90%;
  }
  
  .footer-tab {
    padding: 10px;
  }
  
  #footer-menu>li>a {
    padding: 5px 5px 15px 5px;
  }

}


@media all and (max-width:640px) {
  #footer-menu>li {
    display: block;
    padding: 5px 5px 12px 5px;
    text-align: left;
    border-color: #FFF;
  }
  
  #footer-menu>li>a {
    border: 1px solid #FFF;
  }
  
}

@media all and (max-device-width: 640px) {
  #footer-menu>li {
    display: block;
    padding: 5px 5px 12px 5px;
    text-align: left;
    border-color: #FFF;
  }
  
  #footer-menu>li>a {
    border: 1px solid #FFF;
  }
  
}


@media all and (max-width: 520px) {
  #wrapper {
    font-size: 85%
  }
  
  h1 {
    font-size: 200%;
  }
  
  #from-airport, #to-airport {
    width: 7em;
  }

  #departure-date, #return-date {
    width: 12em;
  }

  fieldset ul li {
    margin-right: 0;
  }
  
  fieldset ul {
    padding-left: 0;
  }
}

@media all and (max-device-width: 520px) {
  #wrapper {
    font-size: 85%;
  }
  
  h1 {
    font-size: 200%;
  }
  
  #from-airport, #to-airport {
    width: 7em;
  }

  #departure-date, #return-date {
    width: 12em;
  }
  
  fieldset ul li {
    margin-right: 0;
  }
  
  fieldset ul {
    padding-left: 0;
  }
  
}